/*
56514B • E7E5DD • BDBBAD • 999990
E7E5DD • 56514B • 56514B • 56514B
*/

section.main {
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

body.bill {
    flex-direction: column;
}

#myInput {
    width: 100%; 
    font-size: 16px; 
    padding: 10px 800px 10px 5px; 
    border: 1px solid rgb(155, 155, 155); 
    margin-bottom: 12px; 
    text-align: left;
}

section.products {
    flex: 0 0 70%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    height: fit-content;
}

section.products>div {
    background-color: #5e72eb;
    color: #ffffff;
    border-radius: 15px;
    padding: 3rem;
    position: relative;
    margin: 1rem;
    flex: 0 0 5%;
    text-align: center;
    cursor: pointer;
    height: 350px;
}


/* Solving click event bug */

section.products>div:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

section.products>div>img {
    max-height: 5rem;
    max-width: 5rem;
    margin-bottom: 1rem;
}

section.products>div>p {
    margin: 0;
    padding: 0;
}

section.bill {
    background-color: #fdc094;
    box-sizing: border-box;
    flex: 0 0 30%;
    padding: 2rem;
}

section.bill>.bill-products {
    border-bottom: 1px solid #5e72eb;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

section.bill>.bill-products p {
    margin: 0;
}

section.bill form .hidden {
    display: none;
}

section.bill form>div {
    margin-bottom: 0.5rem;
}

section.bill form label {
    display: none;
}

section.bill form input[type="text"] {
    display: block;
    background: transparent;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000;
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
}

section.bill form input[type="submit"] {
    display: block;
    background: #5e72eb;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    transition: 0.3s ease-in-out;
    width: 100%;
}

section.bill form input[type="submit"]:hover {
    background: #5e72eb;
    border: 1px solid #5e72eb;
    color: #000000;
}

section.bill-print {
    display: block;
    border: 1px solid #5e72eb;
    box-sizing: border-box;
    margin: 2rem auto;
    max-width: 350px;
    padding: 2rem 1.5rem;
    width: 100%;
}

section.bill-print h1 {
    margin: 0;
}

section.bill-print p {
    margin: 0;
}

section.bill-print p span {
    display: inline-block;
}

section.bill-print .bill-print-user p span:last-of-type,
section.bill-print .bill-print-products p span:last-of-type,
section.bill-print .bill-print-total p span:last-of-type {
    font-weight: bold;
    text-align: right;
    float: right;
}

section.bill-print .bill-print-products p:first-of-type {
    font-weight: bold;
}

section.bill-print .bill-print-products img {
    visibility: hidden;
    display: none;
}

section.bill-print .bill-print-products .product {
    size: 20px;
}

section.bill-print .bill-print-products h4 {
    text-align: right;
}

section.bill-print .bill-print-header {
    text-align: center;
}

section.bill-print .bill-print-user {
    border-top: 1px solid #5e72eb;
    border-bottom: 1px solid #5e72eb;
    margin: 1rem 0;
    padding: 0.5rem 0;
}

section.bill-print .bill-print-total p {
    border-top: 1px solid #5e72eb;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

section.bill-actions button {
    display: block;
    background: #5e72eb;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    max-width: 350px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

section.bill-checkout button {
    display: block;
    background: #5e72eb;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    transition: 0.3s ease-in-out;
    width: 100%;
}

section.bill-actions button:hover {
    background: #5e72eb;
    border: 1px solid #5e72eb;
    color: #5e72eb;
}

section.bill-checkout button:hover {
    background: #5e72eb;
    border: 1px solid #5e72eb;
    color: #000000;
}

@media print {
    body {
        min-height: unset;
    }
    section.bill-actions {
        display: none;
    }
}