/*
56514B • E7E5DD • BDBBAD • 999990
E7E5DD • 56514B • 56514B • 56514B
*/

section.main {
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

body.bill {
    flex-direction: column;
}

.center {
    margin: auto;
    width: 50%;
    border: 0px;
    padding: 10px;
}


.Card {
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
    overflow: hidden;
}
  
.CardInner {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: var(--border-radius);
}
  
.container {
    display: flex;
}
  
.Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #000;
    margin-right: 12px;
}
.Icon svg {
    transform: translate(-1px, -1px);
}
  
label {
    font-family: "Hind", sans-serif;
    display: block;
    color: #3c4b66;
    margin-bottom: 12px;
    background: linear-gradient(45deg, #6b7b8f, #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.InputContainer {
    width: 100%;
}
  
input {
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;
}

input::placeholder {
    color: #6d7f8f;
}

input:focus {
    outline: none;
    color: #6d7f8f;
    background-color: #eff5fa;
}
  
.InputContainer {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000
}

.InputContainer:before, .InputContainer:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.InputContainer:before {
    box-shadow: var(--bottom-shadow);
}

.InputContainer:after {
    box-shadow: var(--top-shadow);
}

section.products {
    flex: 0 0 70%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    height: fit-content;
}

section.products>div {
    background-color: #5e72eb;
    color: #ffffff;
    border-radius: 15px;
    padding: 3rem;
    position: relative;
    margin: 1rem;
    flex: 0 0 5%;
    text-align: center;
    cursor: pointer;
    height: 350px;
}


/* Solving click event bug */

section.products>div:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

section.products>div>img {
    max-height: 5rem;
    max-width: 5rem;
    margin-bottom: 1rem;
}

section.products>div>p {
    margin: 0;
    padding: 0;
}

section.bill {
    background-color: #fdc094;
    box-sizing: border-box;
    flex: 0 0 30%;
    padding: 2rem;
}

section.bill>.bill-products {
    border-bottom: 1px solid #5e72eb;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

section.bill>.bill-products p {
    margin: 0;
}

section.bill form .hidden {
    display: none;
}

section.bill form>div {
    margin-bottom: 0.5rem;
}

section.bill form label {
    display: none;
}

section.bill form input[type="text"] {
    display: block;
    background: transparent;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #000000;
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
}

section.bill form input[type="submit"] {
    display: block;
    background: #5e72eb;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    transition: 0.3s ease-in-out;
    width: 100%;
}

section.bill form input[type="submit"]:hover {
    background: #5e72eb;
    border: 1px solid #5e72eb;
    color: #000000;
}

section.bill-print {
    display: block;
    border: 1px solid #5e72eb;
    box-sizing: border-box;
    margin: 2rem auto;
    max-width: 350px;
    padding: 2rem 1.5rem;
    width: 100%;
}

section.bill-print h1 {
    margin: 0;
}

section.bill-print p {
    margin: 0;
}

section.bill-print p span {
    display: inline-block;
}

section.bill-print .bill-print-user p span:last-of-type,
section.bill-print .bill-print-products p span:last-of-type,
section.bill-print .bill-print-total p span:last-of-type {
    font-weight: bold;
    text-align: right;
    float: right;
}

section.bill-print .bill-print-products p:first-of-type {
    font-weight: bold;
}

section.bill-print .bill-print-products img {
    visibility: hidden;
    display: none;
}

section.bill-print .bill-print-products .product {
    size: 20px;
}

section.bill-print .bill-print-products h4 {
    text-align: right;
}

section.bill-print .bill-print-header {
    text-align: center;
}

section.bill-print .bill-print-user {
    border-top: 1px solid #5e72eb;
    border-bottom: 1px solid #5e72eb;
    margin: 1rem 0;
    padding: 0.5rem 0;
}

section.bill-print .bill-print-total p {
    border-top: 1px solid #5e72eb;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

section.bill-actions button {
    display: block;
    background: #5e72eb;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    max-width: 350px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

section.bill-checkout button {
    display: block;
    background: #5e72eb;
    border: 1px solid #5e72eb;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.75rem;
    transition: 0.3s ease-in-out;
    width: 100%;
}

section.bill-actions button:hover {
    background: #5e72eb;
    border: 1px solid #5e72eb;
    color: #5e72eb;
}

section.bill-checkout button:hover {
    background: #5e72eb;
    border: 1px solid #5e72eb;
    color: #000000;
}

@media print {
    body {
        min-height: unset;
    }
    section.bill-actions {
        display: none;
    }
}
